.section {
  display: block;
}

.section__products {
  padding-top: 130px;
  padding-bottom: 120px;
}

.container {
  max-width: 1280px;
  padding-left: 114px;
  padding-right: 114px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.section__label {
  font-size: 30px;
  line-height: 1.13;
  font-family: Titan One, sans-serif;
  color: #ffa5ba;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(120px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.section__title {
  margin-bottom: 260px;
  text-align: center;
  transform: translateY(120px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  color: #d41443;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
}

.products__item {
  flex-basis: calc(33.33333% - 20px);
  margin: 10px;
  max-width: 330px;
}

.products.active .products__item:first-child {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.product {
  position: relative;
  text-align: center;
  border-radius: 24px;
}

.product__ice_cream {
  background-color: #ffb8ca;
}

.product__ice_coffee {
  background-color: #f0d1a5;
}

.product__milkshakes {
  background-color: #c2e297;
}

.product__ice_cream::before {
  content: "";
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 335px;
  height: 335px;
  top: -40%;
  background-image: url(/src/img/products/desktop/products_img1_desktop_@1x.png);
}

.product__ice_coffee::before {
  content: "";
  display: inline-flex;
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%);
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-image: url(/src/img/products/desktop/products_img2_desktop_@1x.png);
}

.product__milkshakes::before {
  content: "";
  display: inline-flex;
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%);
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-image: url(/src/img/products/desktop/products_img3_desktop_@1x.png);
}

.product__content {
  padding: 163px 44px 50px;
}
.product__title {
  position: relative;
  display: inline-flex;
  margin-bottom: 70px;
  font-family: Titan One, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.product__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%);
  width: 26px;
  height: 6px;
  background-image: url(/src/img/products/midle-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.product__text {
  font-size: 16px;
  line-height: 1.76;
  display: block;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.product__text__margin {
  margin-bottom: 60px;
}

.product__addition {
  display: none;
}

.btn_open {
  display: flex;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: #d41443;
  background-color: #fff;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_open__centered {
  margin-left: auto;
  margin-right: auto;
}

.btn_open__icon {
  fill: currentColor;
  cursor: pointer;
}

.product__description {
  top: 227px;
  min-height: 300px;
  padding-top: 60px;
  padding-left: 44px;
  padding-right: 44px;
  position: absolute;
  left: 0;
  overflow: auto;
  width: 100%;
  padding: 60px 44px 25px;
  border-radius: 24px;
  transition: visibility 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
}

.product__description__ice_cream {
  background-image: linear-gradient(180deg, #fa98b1 50%, #ffb8ca);
  box-shadow: 0 8px 30px #f3aec0;
}

.product__description__is_hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
}

.product__btn_close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #fff;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.product__text__margin_description {
  margin: 0;
}

.active {
  transform: translate(0);
  opacity: 1;
}
