.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 170px;
  padding-bottom: 56px;
  background-color: #ffb8ca;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 114px;
  padding-right: 114px;
  margin-left: auto;
  margin-right: auto;
}

.container__hero {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero__wrapper {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  transform: translate(120px);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  font-size: 38px;
  line-height: 1.16;
  margin-bottom: 25px;
}

.hero__title__next_row {
  transform: translate(0px, 120px);
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.hero__title__accent {
  font-size: 58px;
  line-height: 0.96;
  color: #d41443;

  transform: translate(0px, 120px);
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 400ms,
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

.hero_links {
  display: flex;
  transform: translate(0px, 120px);
  margin-bottom: 112px;
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 550ms,
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 550ms;
}

.hero_links__item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  min-width: 63px;
  height: auto;
  min-height: 24px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__hero {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.31;
  padding: 11px 22px;
  border-radius: 20px;
}

.btn__primary {
  color: #d41443;
  background-color: #fff;
}

.btn__secondary {
  color: #fff;
  background-color: #d41443;
}

.extra_info {
  display: block;
  width: 200px;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 180px;
  color: #fff;
  transform: translate(-200px);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.extra_info__text {
  width: 200px;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 180px;
}

.btn_open {
  display: flex;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: #d41443;
  background-color: #fff;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.extra_info__link {
  width: 26px;
  height: 26px;
}

.btn_open__icon {
  fill: currentColor;
}

.store_list {
  display: block;
  transform: translate(200px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.store_list__item {
  position: relative;
  top: -8px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}

.store_list__item:not(:last-child) {
  margin-bottom: 62px;
}

.store_list__wrapper {
  position: absolute;
  right: 6px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.store_list__number {
  font-family: Titan One, sans-serif;
  font-size: 46px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 0;
}

.store_list__name {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}
.hero__image__main {
  position: absolute;
  display: block;
  left: 475px;
  right: -62px;
  bottom: 19px;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: #ffa5ba;
  transform: translate(200px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__image__main::after {
  content: "";
  display: block;
  transform: translate(-50%);
  background-image: url(../../img/hero.png);
  bottom: -75px;
  left: 45%;
  width: 236px;
  height: 557px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  transform: translate(0);
  opacity: 1;
}
