.about {
  padding-top: 125px;
  padding-bottom: 39px;
  text-align: center;
  background-color: #fff5f6;
  background-image: url(/src/img/about/desktop/about_img2_desktop_@1x.png);
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 114px;
  padding-right: 114px;
}

.about__label {
  font-family: Titan One, sans-serif;
  font-size: 30px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffa5ba;
  transform: translateY(120px);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.04em;
}

.about__label__margin {
  margin-bottom: 15px;
}

.about__title {
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  font-family: Titan One, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #d41443;
  transform: translateY(120px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.about__title__margin {
  margin-bottom: 55px;
}

.about__card {
  display: flex;
}

.about__pictures {
  display: block;
  max-width: 100%;
}

.about__box {
  display: block;
  text-align: left;
}

.about__box__margin {
  width: 50%;
  padding: 0;
  margin: 55px 0 0 74px;
}

.about__box_title {
  line-height: 1.76;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.about__box_title__margin {
  margin-bottom: 35px;
}

.about__box_descr {
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.04em;
  margin-bottom: 45px;
  font-weight: 500;
  color: #907e82;
}

.about__box_descr__p {
  display: block;
  margin-top: 27px;
}

.btn {
  min-width: 63px;
  height: auto;
  min-height: 24px;
  padding: 12px 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__primary {
  color: #d41443;
  background-color: #fff;
}

.btn__icon {
  fill: currentColor;
  width: 10px;
  height: 10px;
}

.btn__icon__append {
  margin-left: 13px;
}

.active {
  transform: translate(0);
  opacity: 1;
}
