.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(
    rgb(255, 245, 246) 40%,
    rgb(255, 255, 255) 0px,
    rgb(255, 255, 255)
  );
}
.container {
  max-width: 1280px;
  padding-left: 114px;
  padding-right: 114px;
  margin-left: auto;
  margin-right: auto;
}
.visually_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  padding: 0px !important;
  border: 0px !important;
  height: 1px !important;
  width: 1px !important;
}
